<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ana Sayfa</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <div class="mid-header">
        <div class="logo">
          <a href="index.html">OurMood</a>
        </div>
        <ul class="nav-links">
          <a href="index.html">Home</a>
          <a href="article.html">Articles</a>
          <a href="add-article.html">Add Article</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
          <a href="sign-in.html"><button>Sign Up</button></a>
        </ul>
      </div>
    </header>

    <div class="add-article">
      <form class="article-form" action="index.html" method="post">
        <h1>Add an Article</h1>
        <input type="text" name="" value="Tittle" onclick="if(this.value=='Tittle') this.value='';" onblur="if(this.value=='') this.value='Tittle';">
        <input type="text" name="" value="Written By" onclick="if(this.value=='Written By') this.value='';" onblur="if(this.value=='') this.value='Written By';">
        <input type="text" name="" value="Visible Part (max. 200 chracter)" style="height: 100px;" onclick="if(this.value=='Visible Part (max. 200 chracter)') this.value='';" onblur="if(this.value=='') this.value='Visible Part (max. 200 chracter)';">
        <input type="text" name="" value="Full Text" style="height:200px;" onclick="if(this.value=='Full Text') this.value='';" onblur="if(this.value=='') this.value='Full Text';">
        <input type="submit" class="add-button" value="Add">
      </form>

    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>