<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Article</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <script type="text/javascript">
    function validateForm() {
      var a = document.forms["Form"]["answer_a"].value;
      var b = document.forms["Form"]["answer_b"].value;
      var c = document.forms["Form"]["answer_c"].value;
      if (a == null || a == "", b == null || b == "", c == null || c == "") {
        alert("Please Fill All Required Field");
        return false;
      }
    }
  </script>
</head>

<body>
  <div class="content">
    <header>
      <div class="mid-header">
        <div class="logo">
          <a href="index.html">OurMood</a>
        </div>
        <ul class="nav-links">
          <a href="index.html">Home</a>
          <a href="article.html">Articles</a>
          <a href="add-article.html">Add Article</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
          <a href="sign-in.html"><button>Sign Up</button></a>
        </ul>
      </div>
    </header>

    <div class="add-article">
      <form class="article-form" method="post" name="Form" onsubmit="return validateForm()" action="">
        <h1>Add an Article</h1>
        <h2>Tittle</h2>
        <textarea id="a" name="answer_a"></textarea>
        <h2>Visible Part (max. 200 chracter)</h2>
        <textarea id="b" name="answer_b"></textarea>
        <h2>Full Text</h2>
        <textarea id="c" name="answer_c"></textarea>
        <input type="submit" class="add-button" value="Add">
      </form>

    </div>
  </div>

  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>