<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Articles</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <div class="mid-header">
        <div class="logo">
          <a href="index.html">OurMood</a>
        </div>
        <ul class="nav-links">
          <a href="index.html">Home</a>
          <a href="article.html">Articles</a>
          <a href="add-article.html">Add Article</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
          <a href="sign-in.html"><button>Sign Up</button></a>
        </ul>
      </div>
    </header>

    <div class="article" onclick="location.href='article-full.html';">
      <a><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/3.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/2.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/1.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/3.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/2.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center><img src="images/2.jpg">
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>


  </div>
  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>