<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Articles</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <script type="text/javascript" src="fundamentals/header.js"></script>
    </header>

    <div class="article" onclick="location.href='article-full.html';">
      <a><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/3.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/1.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/2.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/3.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/1.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>

    <div class="article" onclick="location.href='article-full.html';">
      <a href="#"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a href="#" style="left: 340px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <center>
        <div><img src="images/2.jpg">
          <div class="overlay">
            <div class="text">Read More!</div>
          </div>
        </div>
        <h1>Lorem ipsum dolor sit amet</h1>
        <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut leo elementum neque mollis malesuada. In egestas sapien quis dapibus elementum. Mauris tincidunt vestibulum cursus. Nunc ut neque a quam blandit ornare.</h2>
      </center>
    </div>


  </div>
  <footer>
    <script type="text/javascript" src="fundamentals/footer.js"></script>
  </footer>

</body>

</html>
