<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Article</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Alata|Raleway&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Fruktur&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <div class="mid-header">
        <div class="logo">
          <a href="index.html">OurMood</a>
        </div>
        <ul class="nav-links">
          <a href="index.html">Home</a>
          <a href="article.html">Articles</a>
          <a href="add-article.html">Add Article</a>
          <a href="about.html">About</a>
          <a href="contact.html">Contact</a>
          <a href="sign-in.html"><button>Sign Up</button></a>
        </ul>
      </div>
    </header>

    <div class="article-full">
      <a style="left:10px;"><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
      <a style="left:220px;"><i class="far fa-clock"></i> 27.01.2020</a>
      <h1>Lorem ipsum dolor sit amet</h1>
      <center><img src="images/1.jpg" alt=""></center>
      <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in mi convallis, pulvinar magna vitae, dictum nibh. Sed tellus nisl, laoreet eu dapibus eu, maximus in elit. Nulla ligula metus, placerat ut posuere eu, aliquet eget tortor.
        Vestibulum vehicula magna et porttitor ultricies. Curabitur bibendum fringilla odio eget ornare. Suspendisse eros justo, vulputate sit amet leo sit amet, suscipit mollis metus. Curabitur a semper magna, vitae ultricies ipsum. Nullam et odio
        non libero cursus aliquam. Maecenas quam ex, pulvinar vitae ipsum nec, elementum accumsan purus. Nulla facilisi. Vestibulum malesuada pretium convallis.

        Mauris a vulputate massa, non laoreet lectus. Nulla vel condimentum nulla. Nullam hendrerit tincidunt nulla in feugiat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed et facilisis orci, a
        scelerisque risus. Praesent sollicitudin porta ipsum nec commodo. Quisque vehicula tincidunt consectetur. Etiam placerat lacus vel porttitor pellentesque. Pellentesque at velit felis. Integer vehicula enim vel nunc ornare, a pretium velit
        lacinia. In vulputate lacinia neque, et ullamcorper leo. Nunc aliquet arcu odio, eu fringilla ex condimentum in. In ac porttitor mauris, vel tristique nisl. Vestibulum sagittis ante ut magna ullamcorper lacinia. Donec elementum vestibulum
        urna non accumsan.

        Nunc in nunc at neque pulvinar imperdiet vitae quis metus. Aliquam non tortor dolor. Cras non dapibus urna. In interdum sem quis diam sagittis, quis elementum dui facilisis. Suspendisse condimentum, nulla sit amet semper egestas, nisi odio
        vulputate ex, pulvinar vestibulum nibh diam at velit. Integer diam nunc, blandit quis libero at, dapibus facilisis dolor. Aliquam dictum magna tellus, tincidunt scelerisque ipsum rhoncus sed. In finibus risus non scelerisque gravida. Sed non
        lorem non purus placerat condimentum vel non metus. Mauris id fermentum nibh. Quisque sit amet condimentum massa, commodo egestas ligula. Aenean volutpat ac ipsum in tristique. Aenean nulla purus, auctor eu egestas eget, blandit a nisi.
        Suspendisse convallis est quis sem pulvinar, vehicula mattis velit varius. Suspendisse dapibus mi non sollicitudin maximus. Fusce vel vulputate sem, sit amet eleifend nunc.

        Sed condimentum eleifend ipsum in condimentum. Suspendisse quis feugiat tellus, quis malesuada dui. Maecenas sit amet ex odio. Proin quis egestas quam. Vestibulum in risus augue. Vestibulum sed fermentum massa. Etiam at eros ut elit viverra
        blandit in id orci. Aliquam tincidunt turpis nec rutrum semper. Vivamus rutrum feugiat massa ac bibendum. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec eleifend est et eros maximus gravida.
        Nullam dictum porttitor diam ut hendrerit. Mauris non tortor placerat, tincidunt urna nec, tempor est. Phasellus feugiat sapien nibh, quis tempor est bibendum sed. Integer laoreet lacus at sodales vulputate. Nulla lobortis eros convallis,
        congue elit vel, faucibus arcu.

        Sed mattis eget augue pharetra elementum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget justo convallis, semper enim a, semper lacus. Etiam nec tincidunt justo, ut blandit mauris. Mauris vestibulum sed nisi sed
        laoreet. Aliquam dignissim et felis facilisis blandit. Vivamus lectus ligula, convallis ut mi at, sollicitudin efficitur orci. Curabitur sagittis odio a mattis porta. Nullam vel elementum quam, sit amet mattis justo. Interdum et malesuada
        fames ac ante ipsum primis in faucibus. Nam condimentum dictum nunc convallis condimentum. Donec sit amet rutrum nisi. In pulvinar tempor lorem, vel mollis magna. Aenean sed efficitur magna, nec volutpat mi. Morbi sed nibh a purus ornare
        placerat a ut orci. Ut metus purus, efficitur eu dolor id, blandit accumsan tortor.</h2>
    </div>

    <div class="written-by">
      <center><a><i class="fas fa-pen-fancy"></i> Written by CosmicOwl</a>
        <a><i class="far fa-clock"></i> 27.01.2020</a></center>
    </div>
  </div>
  <footer>
    <div class="footer">
      <div class="f-middle">
        <p style="font-size:40px;">Follow Us</p>
        <center><a href="#"><i class="fab fa-facebook-square"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-reddit"></i></a>
          <center>
            <div class="border"></div>
            <p>2020 © Created by SedAtmaca & CosmicOwl All Rights Reserved</p>
      </div>
    </div>
  </footer>

</body>

</html>