<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Contact</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <script type="text/javascript" src="fundamentals/header.js"></script>
    </header>
    <div class="contact">
      <h1>Contact</h1>
      <h2>I will add more things like github, linkedin, reddit, etc. But for now you can contact with us on our mail adress: </h2>
      <h3>cemilsedatatmaca@gmail.com</br>cosmicowl8733@gmail.com</h3>
      <h4><a href="contact-form.html" class="form-link" style="color:blue;">You can contact us by filling out this form.</a></h4>
      <center><a><i class="fas fa-pen-fancy"></i>SedAtmaca (C.Sedat Atmaca)</a>
        <a><i class="fas fa-pen-fancy"></i>CosmicOwl (İftihar M. Çırçır)</a>
      </center>
    </div>
  </div>


  <footer>
    <script type="text/javascript" src="fundamentals/footer.js"></script>
  </footer>

</body>

</html>
