<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body>
  <div class="content">
    <header>
      <script type="text/javascript" src="fundamentals/header.js"></script>
    </header>

    <form class="contact-section" action="index.html" method="post">
      <div class="inner-width">
        <h1>Contact With Us</h1>
        <input type="text" class="name" placeholder="Name">
        <input type="email" class="email" placeholder="E-Mail">
        <textarea class="message" placeholder="Message"></textarea>
        <button>Send</button>
      </div>
    </form>
  </div>

  <footer>
    <script type="text/javascript" src="fundamentals/footer.js"></script>
  </footer>

</body>

</html>
