<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Ana Sayfa</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <div class="mid-header">
      <div class="logo">
        <a href="#">OurMood</a>
      </div>
      <ul class="nav-links">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
        <a href="#"><button>Sign Up</button></a>
      </ul>
    </div>
  </header>

  <div class="welcome-text">Welcome to OurMood</div>

</body>

</html>