<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body id="particle-js">
  <div class="content">
    <header>
      <script type="text/javascript" src="fundamentals/header.js"></script>
    </header>


    <div class="welcome-page">
      <div class="welcome-text">Welcome to OurMood<br><span style="color:#EAB543;">SedAtmaca</span> & <span style="color:#EAB543;">CosmicOwl</span><br><span style=" font-size: 40px;">"We are writing about everything!"</span></div>
      <center><a href="article.html" class="welcome-button">Get Started!</a></center>
    </div>

    <!-- particles.js container -->
    <div id="particles-js"></div>

    <!-- scripts -->
    <script src="js/particles.js"></script>
    <script src="js/app.js"></script>

  </div>

  <!-- particles.js container -->


  <!-- scripts -->
  <script src="js/particles.js"></script>
  <script src="js/app.js"></script>

  <footer>
    <script type="text/javascript" src="fundamentals/footer.js"></script>
  </footer>

</body>

</html>
