<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>
  <script src="https://www.vantajs.com/dist/vanta.waves.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
</head>

<body id="welcome-page">

  <!--VANTA.JS-->
    <script>
      VANTA.WAVES({
      el: "#welcome-page",
      mouseControls: true,
      touchControls: true,
      minHeight: 200.00,
      minWidth: 200.00,
      scale: 0.75,
      scaleMobile: 1.00,
      color: 0x182c61
    });
    </script>
  <!--VANTA.JS-->
  <div class="main-page-content">

  <div class="login-buttons">
    <a href="/login">Sign In</a>
    <a href="/register">Sign Up</a>
  </div>


  <div class="welcome-text">
    <a href="about.html" style="float:left;"><i class="fas fa-user-circle"></i> SedAtmaca</a>
    <a href="about.html" style="float:right;"><i class="fas fa-user-circle"></i> CosmicOwl</a>

    <div class="clear"></div>

    <p>Welcome to OurMood</p>
    <p style="font-size: 40px;">"We're writing everything"</p>

    <div class="border"></div>

    <a href="articles.html" class="welcome-button">Articles</a>
    <a href="about.html" class="welcome-button">About</a>
    <a href="contact.html" class="welcome-button">Contact</a>
  </div>
  </div>


</body>

</html>
