<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Sign In</title>
  <link rel="stylesheet" href="css/form.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>

  </script>
</head>

<body>
  <form class="login" action="index.html">
    <h1>Login</h1>

    <div class="login-text">
      <input type="text">
      <span data-placeholder="Username"></span>
    </div>

    <div class="login-text">
      <input type="password">
      <span data-placeholder="Password"></span>
    </div>

    <input type="submit" class="login-button" value="Login">

    <div class="bottom-text">
      Don't Have Account? <a href="sign-up.html">Sign Up</a>
    </div>
  </form>

  <script type="text/javascript">
    $(".login-text input").on("focus", function() {
      $(this).addClass("focus");
    });

    $(".login-text input").on("blur", function() {
      if ($(this).val() == "")
        $(this).removeClass("focus");
    });
  </script>
</body>



</html>