<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Sign Up</title>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.js" integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/form.css">
</head>
<style media="screen">
  body{
    background-image: linear-gradient(120deg, #EAB543, #182C61);
  }
</style>

<body>
  <form class="login" action="index.html">
    <h1>Sign Up</h1>

    <div class="login-text">
      <input type="text">
      <span data-placeholder="Username"></span>
    </div>

    <div class="login-text">
      <input type="password">
      <span data-placeholder="Password"></span>
    </div>

    <div class="login-text">
      <input type="password">
      <span data-placeholder="Confirm"></span>
    </div>

    <input type="submit" class="login-button" value="Sign Up" style="background-image: linear-gradient(120deg, #EAB543, #182C61);">

  </form>

  <script type="text/javascript">
    $(".login-text input").on("focus", function() {
      $(this).addClass("focus");
    });

    $(".login-text input").on("blur", function() {
      if ($(this).val() == "")
        $(this).removeClass("focus");
    });
  </script>

</body>

</html>
