*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.content{
  min-height: 100vh;
}

header{
  width: 100%;
  height: 50px;
  background: #182C61;
  display: block;
  position: fixed;
  z-index: 1;
}

.mid-header{
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.logo{
  height: 100%;
  float: left;
}

.logo a{
  color: white;
  height: 100%;
  font-family: 'Fruktur', cursive;
  font-size: 35px;
 }

.nav-links{
  height: 100%;
  float: right;
  line-height: 40px;
}

.nav-links a{
  text-decoration: none;
  vertical-align: middle;
  color: white;
  font-size: 20px;
  height: 100%;
  padding: 0 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}


.nav-links a:hover{
  color: #EAB543;
}

.nav-links a button{
  border: 2px solid white;
  height: 35px;
  width: 100px;
  background-color: #182C61;
  color: white;
  font-size: 16px;
}

.welcome-text{
  position: absolute;
  font-size: 60px;
  letter-spacing: 3px;
  top: 70px;
  text-align: center;
  right: 50px;
  left: 50px;
  font-family: 'Raleway', sans-serif;
}

.welcome-button{
  border: 2px solid #EAB543;
  text-decoration: none;
  padding: 10px 20px;
  text-align: center;
  background-color:#182C61;
  color: #EAB543;
  font-family: 'Raleway', sans-serif;
}

footer{
  background: #182C61;
  padding: 60px 0;
}

.footer{
  max-width: 1000px;
  height: auto;
  margin: auto;
  justify-content: center;
  display: flex;
}

.f-middle a {
  color: #EAB543;
  margin-right: 30px;
  font-size: 35px;
  text-decoration: none;
  align-items: center;
}

.f-middle p{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #EAB543;
}

.border{
  height: 2px;
  width: 800px;
  background: #EAB543;
}
