<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Text Editor</title>
    <link rel="stylesheet" href="css/try.css">
  </head>

  <body>

    <div class="editor">
      <div class="editor-menubar">
        <button class="editor-button" data-attribute="bold">Bold</button>
        <button class="editor-button" data-attribute="italic">Italic</button>
        <button class="editor-button" data-attribute="underline">Underline</button>
        <button class="editor-button" data-attribute="justifyleft">Left</button>
        <button class="editor-button" data-attribute="justifycenter">Right</button>
      </div>

      <div class="editor-canvas" id="canvas" contenteditable></div>

    </div>

    <script type="text/javascript">
      const editorButtons = document.getElementsByClassName('editor-button');
      const editorCanvas = document.getElementById('canvas');
      const setAttribute = (element) => {
        document.execCommand(element.dataset.attribute, false);
      };

      for (let i = 0; i < editorButtons.length; i++) {
        editorButtons[i].addEventListener('click', function() {
          setAttribute(this);

        });
      }

    </script>

  </body>
</html>
