<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Add Article</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">

  <script type="text/javascript">
    function validateForm() {
      var a = document.forms["Form"]["answer_a"].value;
      var b = document.forms["Form"]["answer_b"].value;
      var c = document.forms["Form"]["answer_c"].value;
      if (a == null || a == "", b == null || b == "", c == null || c == "") {
        alert("Please Fill All Required Field");
        return false;
      }
    }
  </script>
</head>

<body>
  <div class="content">
    <header>
      <script type="text/javascript" src="fundamentals/header.js"></script>
    </header>

    <div class="add-article">
      <form class="article-form" method="post" name="Form" onsubmit="return validateForm()" action="">
        <h1>Add an Article</h1>
        <textarea id="a" name="answer_a" placeholder="Title"></textarea>
        <textarea id="b" name="answer_b" placeholder="Visible Part (max. 200 character)"></textarea>
        <div class="ckeditor">
        <textarea id="c" name="answer_c"></textarea>
        </div>
        <input type="submit" class="add-button" value="Add">
      </form>
    </div>

    <script src="https://cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

    <script type="text/javascript">
      CKEDITOR.replace('answer_c');
      CKEDITOR.config.removePlugins = 'resize';
    </script>


  </div>

  <footer>
    <script type="text/javascript" src="fundamentals/footer.js"></script>
  </footer>

</body>

</html>
